/* FRONTEND/PostsIndex.css */
.posts-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
}

.posts-index {
    flex: 1;
    padding: 20px;
    overflow-x: hidden;
}

.post-list {
    list-style: none;
    padding: 0;
}

.post-item {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.post-item h1 {
    margin: 10px 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.post-item h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.post-item h2 a {
    color: var(--link-color);
    text-decoration: none;
}
.post-item p {
    margin: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.post-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--background-color-2);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1500;
}

.modal-close-button {
    margin-top: 10px;
    padding: 8px 16px;
    background: var(--link-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-close-button:hover {
    background: var(--highlight-color);
}

.post-title-button {
    background: none;
    border: none;
    color: var(--link-color);
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 400;
    padding: 0;
    text-align: left;
}

.post-title-button:hover {
    color: var(--link-color);
}

.post-list {
    list-style: none;
    padding: 0;
}

.channels-sidebar {
    padding: 15px;
}

.channel-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.channel-item {
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: ease-in-out 0.3s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

.channel-item:hover,
.channel-item.selected {
    border-bottom: 2px solid var(--link-color);
}
.channel-item.selected {
    background: var(--link-color);
}
@media (max-width: 768px) {
    .channels-sidebar {
        max-width: 15%;
        padding: 10px;
        transition: 0.3s ease;
    }
    .channels-sidebar:hover {
        max-width: 200px;
    }
}